{% extends "admin2/header.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}<title>Sign in</title>{% endblock %}
{% block content %}
    {{ parent() }}
    {% block body %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <fieldset>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="form-group">
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" autofocus required="required" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" id="password" placeholder="Password" name="_password" required="required" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="1" checked />Remember Me
                                    </label>
                                </div>
                                <input type="submit" class="btn btn-lg btn-success btn-block" id="_submit" name="_submit" value="Sign in" />
                                <a href="/register" class="btn btn-lg btn-default btn-block">Sign up</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}